h1{color: darkblue ; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
p{color: darkblue}
h2{font-size: x-large; color: darkblue;}
h3{color: darkblue; font-size: x-large; text-decoration: underline;}
.indexpage{background-color: rgba(222, 110, 54, 0.31)}
#indexcenter{background-color: rgba(222, 110, 54, 0.31); height: 100%; margin: auto;}
.tdmenu{color: darkred; width: 400px;}
/*a:link{text-decoration: none; color: black}
a:visited{text-decoration: none; color: red}
a:hover{text-decoration: underline; font-weight: bold;}
a:active{text-decoration: none;}*/
#beverage{text-align: left}
ul{list-style-type: none; margin: 0; padding: 0;}
li{display: inline}
.pills {
    width:100%;
    display:inline-block;
}
    .nav-pills li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }

        .nav-pills a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#7FB5DA;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
        }


    /*li.active a, li.active {
        background:#fff;
        color:#4c4c4c;
    }*/
.jumbotron{text-align: center; background-color:transparent}
.table{width: 100%; max-width: 100%; margin-bottom: 20px}
.table-responsive{width: 100%; overflow-x: auto; overflow-y: hidden; -webkit-overflow-scrolling: touch; -ms-overflow-style: -ms-autohiding-scrollbar;}
.carousel{background-color:#7FB5DA; margin: 0px; text-align: center;}
h4{text-transform: uppercase}