h1{color: darkblue ; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
p{color: darkblue}
h2{font-size: x-large}
h3{color: darkblue; font-size: x-large; text-decoration: underline;}
a:link{text-decoration: none; color: black}
a:visited{text-decoration: none; color: red}
a:hover{text-decoration: underline; font-weight: bold;}
a:active{text-decoration: none;}

#beverage{text-align: left}